<style type="text/css">
	body {
		margin-top:200px;
		margin-left:100px;
		margin-right:50px;
		margin-bottom:150px;
	}	
	h1 {
		color:red;
		font-size:100px;		
	}
	#tres{

	}
	#cuatro {
		color:blue;
		font-size:50px;
}
</style>
